{
    "printWidth": 120,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": false,
    "endOfLine": "auto",
    "overrides": [
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["*.jsonc"],
            "options": {
                "trailingComma": "none"
            }
        }
    ]
}
